<div class="container">
  <h2 class="heading">STAFF OVERVIEW</h2>
  <div class="row overview">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>STAFF</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="d-flex justify-content-center">
            18
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h2 class="heading">VIOLATIONS OVERVIEW</h2>

  <div class="row overview">
    <div class="col-6">
      <mat-card><mat-card-header>
        <mat-card-title>OPEN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1 class="d-flex justify-content-center">
          372
        </h1>
      </mat-card-content></mat-card>
    </div>
    <div class="col-6">
      <mat-card><mat-card-header>
        <mat-card-title>ATTENDED</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1 class="d-flex justify-content-center">
          1059
        </h1>
      </mat-card-content></mat-card>
    </div>
  </div>

  <div class="row second">
    <div class="col-6">
      <mat-card><mat-card-header>
          <mat-card-title>STRIKED</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="d-flex justify-content-center">
            403
          </h1>
        </mat-card-content></mat-card>
    </div>
    <div class="col-6">
      <mat-card><mat-card-header>
          <mat-card-title>DISMISSED</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="d-flex justify-content-center">
            656
          </h1>
        </mat-card-content></mat-card>
    </div>
  </div>

</div>